.tasks-container {
  min-width: 100%;
  padding-left: 10px;
}

.tasks-container h1 {
  color: #a49f98;
}

.task-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-container-top .task-add {
  height: 30px;
  width: 30px;
}

.task-container-top-show {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 2px 5px;
  margin-right: 15px;
  color: white;
  border-radius: 2rem;
  width: 9rem;
}

.task-container-top-show {
  background-color: rgb(117, 187, 13);
}

.task-container-top-show:hover {
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: #a49f98;
  width: 14rem;
  padding: 10px;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

.task p {
  margin: 0;
  padding: 0;
}

.task .task-delete:hover {
  cursor: pointer;
}

.task-container-buttons {
  display: flex;
}

.task-container-top-form {
  font-size: 1.1rem;
}

.task-container-top-form input {
  padding: 10px 5px;
  border-radius: 1rem;
  border: 1px solid #a49f98;
  width: 9rem;
}

.tasks-container .transparent {
  color: transparent;
}

.blue {
  background-color: #087fe7;
}

.red {
  background-color: red;
}
